<h1>Criar um personagem</h1>
<h2>Você está entrando na sala {{roomName}}</h2>

<form id="formCreateChar">
    <input type="text" placeholder="Digite seu Nick" name="name">
    <button type="submit" id="btnCreateChar">Enviar</button>
</form>
{{#errors}}
    <span>{{message}}</span>
{{/errors}}