<h1>Even odd game</h1>

<p>Você ganha se o resultado for {{typeDescription}}</p>
<p>Escolha uma das opções abaixo abaixo</p>


<button id="btnEvenOdd_0">0</button>
<button id="btnEvenOdd_1">1</button>
<button id="btnEvenOdd_2">2</button>
<button id="btnEvenOdd_3">3</button>
<button id="btnEvenOdd_4">4</button>
<button id="btnEvenOdd_5">5</button>
<button id="btnEvenOdd_6">6</button>
<button id="btnEvenOdd_7">7</button>
<button id="btnEvenOdd_8">8</button>
<button id="btnEvenOdd_9">9</button>
