<h1>Phoenix game</h1>
<button 
    id="btnNewGame" 
    type="button" 
    class="btn btn-primary">
        New Game
</button>
<table>
    <thead>
        <tr>
            <th>
                Nome da sala
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        {{#names}}
            <tr>
                <td>{{.}}</td>
                <td>
                    <button id="btnJoin_{{.}}">Join</button>
                </td>
            </tr>
        {{/names}}
    </tbody>
</table>