<h1>Even odd game</h1>

<h2>O jogo foi iniciado</h2>

<p>O jogador {{playerOne.name}} está jogando contra o {{playerTwo.name}}</p>
<table>
    <thead>
        <tr>
            <th>Nome}</th>
            <th>Escolha</th>
            <th>Pronto?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{playerOne.name}}</td>
            <td>{{playerOne.type}}</td>
            <td></td>
        </tr>
        <tr>
            <td>{{playerTwo.name}}</td>
            <td>{{playerTwo.type}}</td>
            <td></td>
        </tr>
    </tbody>
</table>